server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/CollabnexLayerIQ?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    open-in-view: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
        jdbc:
          time_zone: UTC

  flyway:
    enabled: false

app:
  security:
    jwt:
      issuer: layeriq-backend
      expiration-minutes: 60
      secret: "zvV8eQkN93@w#tRj!cLzP2nTxhS6uYeM4oQvA1rD9kB7fGxW8n"

  cors:
    allowed-origins: "http://localhost:8081,http://localhost:3000,http://192.168.1.7:8081,http://192.168.1.7:19006,exp://192.168.1.7:19000"
    allowed-methods: "GET,POST,PUT,PATCH,DELETE,OPTIONS"
    allowed-headers: "*"
    allow-credentials: true
